/* Background */
.hero {
  margin-top: 0.5rem;
  position: relative;
  overflow: hidden;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://picsum.photos/1200/700');
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
}

.textbox {
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-style: italic;
}
